<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ sayfa }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style.css">
<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon.png">
</head>
<body>

<header>
  <h2>insanolanbiri blog</h2>
</header>

<section>
  <nav>
    <ul>
      <li><a href="/">ana sayfa</a></li>
      <li><a href="/yazilar">yazılar</a></li>
      <li><a href="/yazi_ekle">yazı ekle</a></li>
      <li><a href="/yazar_ekle">yazar ekle</a></li>
      <li><a href="/konu_ekle">konu ekle</a></li>
    </ul>
  </nav>
  
  <article>
    {% block article %}
    {% endblock article %}
</article>
</section>

<footer>
  <p>gerek yok footera</p>
</footer>

</body>
</html>

