<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if session["username"] and request.path not in ("/register","/login") %}
        <h1>
            {{ session["username"] }}  
            <a href="/logout">çıkış</a> 
        </h1>
    {% endif %}

    {% block icerik %}
    {% endblock icerik %}
</body>
</html>